div.nd-discussion-box div.cp-pr__video-slider {
    .owl-carousel div.owl-controls {
        div.owl-prev, div.owl-next {
            height: 40px;
            padding: 3px 10px;
            margin: 5px;
        }
        div.owl-prev:after, div.owl-next:before {
            display: none;
        }
    }
}
