div.nd-discussion-box-right .nd-discus {
    .ty-stars {
        bottom: -2px;
    }
}
@media (min-width: 1350px) and (max-width: 1500px) {
    div.ypi-dt-product-tabs {
        .nd-discussion-box-right{
            width: ~"calc(30% - 10px)";
        }
        .nd-discussion-box-left {
            width: 70%;
        }
    }
}
@media (max-width: 1350px) {
    div.ypi-dt-product-tabs {
        .nd-discussion-box-right{
            width: 100%;
        }
        .nd-discussion-box-left {
            width: 100%;
        }
    }
}