
div.nd-discussion-box-right .nd-discus {
    .ty-stars {
        bottom: -2px;
    }
}
div.nd-discussion-box div.cp-pr__video-slider {
    .owl-carousel div.owl-controls {
        div.owl-prev {
            left: 0 !important;
        }
        div.owl-next {
            right: 0 !important;
        }
        div.owl-prev, div.owl-next {
            i:before {
                font-size: 40px !important;
            }
        }
    }
}